# -----------------------------------------------------------
# CONFIGURACIÓN DE BASE DE DATOS (PRISMA)
# -----------------------------------------------------------
DATABASE_URL="postgres://usuario:password@localhost:5432/tu_base_de_datos"

# -----------------------------------------------------------
# WEBHOOK DESTINO (N8N u otro servicio)
# -----------------------------------------------------------
WEBHOOK_URL="http://localhost:5678/webhook-test/campaign-reports"

# -----------------------------------------------------------
# INTELIGENCIA ARTIFICIAL (OPENROUTER)
# -----------------------------------------------------------
API_OPENROUTER="sk-or-v1-tu-api-key-aqui"
MODEL="google/gemini-2.5-flash"

# -----------------------------------------------------------
# REDIS (REQUERIDO PARA BULLMQ)
# -----------------------------------------------------------
REDIS_URL="redis://localhost:6379"